body {
    background: #ffffcd;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.verde1{
    background: #078d50;
} 
.tverde1{
    color: #078d50 !important;
}

.imag-bak {
    position: fixed;
    margin-top: -20px;
    left: -6px;
    opacity: 83%;
    width: 101%;
    height: 103%;
    display: flex;
    filter: blur(3px);
    z-index: -1;
}

img.image-bak {
    width: 50%;
    height: 100%;
}

.topo {
    background: linear-gradient(45deg, #023e23 0%, #078d50 94%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    width: 1140px;
    z-index: 2;
}

.nome_topo {
    text-align: initial;
    font-size: 29px;
    font-weight: 500;
    color: #f2f2f2;
    text-shadow: -2px 3px 2px BLACK;
    width: 85%;
    padding-left: 5%;
}

.imagens {
    background: #acebb4;
    width: 90%;
    height: 80%;
    margin: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.guias {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    align-items: center;
    margin-left: 5%;
}

.botao {
    color: #fff !important;
    text-align: center;
    margin: 1px;
}

.botao:hover{
    background: #09b366;
}

.guia {
    text-decoration: none;
    color: #fff;
    padding: 0px 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.corpo {
    background: #d6fbda;
    width: 1100px;
    height: 900px;
    display: flex;
    gap: 20px;
    padding: 20px;
    border: solid 1px #aaa;
    z-index: 2;
}

.pe {
    background: #444;
    height: 250px;
    width: 1076px;
    margin: 8px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 32px;
    z-index: 2;
}

.info {
    height: 100%;
}

.sep {
    height: 250px;
    border: none;
    position: absolute;
    border-left: solid 1px #858585;
}

.imag-topo {
    height: 112px;
    width: 250px;
}


.gradiente {
    width: 250px; /* Largura da imagem */
    height: 150px; /* Altura da imagem */
    overflow: hidden;
    position: relative;
}

.imag-topo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    animation: crossfade 8s infinite alternate; /* Duração da transição de 5 segundos */
}

@keyframes crossfade {
    10% {opacity: 0;}
    44% {opacity: 1;}
    66%{ opacity: 1;}
    90%{ opacity: 0;}
}

.imag-logo {
    height: 130px;
    margin: 10px;
}

.nome-topo {
    font-size: 65px;
    position: absolute;
    background-image: linear-gradient(322deg,#0092f1, #00b900,#c7c700);
    color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 150px;
  }


.parte-main {
    background: #fff;
    width: 900px;
    height: 470px;
}

.info-left {
    background: #fff;
    width: 433px;
    height: 471px;
}
.sombra{
    box-shadow: -2px 3px 13px 0px #0000007d;
}

.bordercurv{
    border-radius: 5px;
}

.image-carrossel {
    width: 500px;
    height: 420px;
    margin: 20px 0px 0px 40px;
    display: none;
}

.div-carrossel {
    gap: 20px;
    display: flex;
}

.caroussel-texto {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
}

.link-carrossel {
    text-decoration: none;
    color: #777;
    font-size: 30px;
    font-weight: bolder;
}

.main_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 31px;
    width: 80%;
}

.entry {
    height: 25px;
    outline: none;
    border: none;
    border-bottom: solid 2px;
    margin-left: 50px;
    padding-left: 17px;
    width: 100%;
    font-size: 17px;
}

.formform {
    background: #fff;
    width: 50%;
    padding: 10px;
}

.sub {
    border: none;
    width: 180px;
    margin-left: 50px;
}

.contato {
    margin-left: 30px;
    color: #fff;
}
.titulorodape{
    border-bottom: solid 1px #777;

}
.pe a {
    color: #fff;
}