
    <div class="parte-main">
        <div class="div-carrossel">
            <div class="caroussel">
                <img class="image-carrossel" src="{{url_for('static',filename='001.jpg')}}" alt="Imagem 1">
                <img class="image-carrossel" src="{{url_for('static',filename='002.jpg')}}" alt="Imagem 2">
                <img class="image-carrossel" src="{{url_for('static',filename='003.jpg')}}" alt="Imagem 3">
                <img class="image-carrossel" src="{{url_for('static',filename='004.png')}}" alt="Imagem 4">
            </div>
                <div class="caroussel-texto">
                    <a class="link-carrossel" href="http://">19°</a>
                    <a class="link-carrossel" href="http://">18°</a>
                    <a class="link-carrossel" href="http://">17°</a>
                    <a class="link-carrossel" href="http://">16°</a>
                </div>
            </div>
            <div class="info">
                
            </div>
        </div>
        <div class="info-left">
            
        </div>
        
        <script>
            const images = document.querySelectorAll('.caroussel img');
            const textos = document.querySelectorAll('.caroussel-texto a');
            let currentImageIndex = 0;
            function showImage(index) {
                images.forEach((image) => {
                    image.style.display = 'none';
                    });
                images[index].style.display = 'block';
                textos.forEach((texto) => {
                    texto.classList.remove("tverde1");
                    texto.style.fontSize = '20px';
                    });
                textos[index].classList.add("tverde1");
                textos[index].style.fontSize = '30px';
                }

            function nextImage() {
                currentImageIndex = (currentImageIndex + 1) % images.length;
                showImage(currentImageIndex);
                }

            // Inicia o carrossel
            setInterval(nextImage, 5000); // Altera de imagem a cada 5 segundos

            // Mostra a primeira imagem
            showImage(currentImageIndex);

        </script>
