{%set dados=['NOME','CPF','EMAIL','CURSO']%}

<div class="main_form">
    <div class="formform">
        <h2>Formulario de inscrição</h2>
            <form class="formulario" action="./inscricao" method="post">
                {%for i in dados%}
                <input class="entry" type="text" name="{{i}}" id="" placeholder="{{i}}">
                {%endfor%}
                <div>
                    <button class="botao guia sub verde1 verde1_hover" type="submit">inscreva-se</inscreva-se></button>
                </div>
            </form>
    </div>
</div>
            