{%set link={
'19º SNCT':['http://google.com','001.jpg'],
'18º SNCT':['http://google.com','002.jpg'],
'17º SNCT':['http://google.com','003.jpg'],
'16º SNCT':['http://google.com','004.png']        
}%}
    
    <div class="parte-main">
        <div class="div-carrossel">
            <div class="caroussel">
                {%for j in link%}
                <img class="image-carrossel" src="{{url_for('static',filename=link[j][1])}}" alt="Imagem 1">
                {%endfor%}
            </div>
                <div class="caroussel-texto">
                    {%for i in link%}
                    <a class="link-carrossel" href="{{link[i][0]}}">{{i}}</a>
                    {%endfor%}
                </div>
            </div>
            <div class="info">
                
            </div>
        </div>
        <div class="info-left">
            
        </div>
        
        <script>
            const images = document.querySelectorAll('.caroussel img');
            const textos = document.querySelectorAll('.caroussel-texto a');
            let currentImageIndex = 0;
            function showImage(index) {
                images.forEach((image) => {
                    image.style.display = 'none';
                    });
                images[index].style.display = 'block';
                textos.forEach((texto) => {
                    texto.classList.remove("tverde1");
                    texto.style.fontSize = '20px';
                    });
                textos[index].classList.add("tverde1");
                textos[index].style.fontSize = '30px';
                }

            function nextImage() {
                currentImageIndex = (currentImageIndex + 1) % images.length;
                showImage(currentImageIndex);
                }

            // Inicia o carrossel
            setInterval(nextImage, 5000); // Altera de imagem a cada 5 segundos

            // Mostra a primeira imagem
            showImage(currentImageIndex);

        </script>
