<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>evento</title>
</head>
<body>
    <div class="imag-bak">
        <img class="image-bak" src="{{url_for('static',filename='fundo.jpg')}}" alt="">
        <img class="image-bak" src="{{url_for('static',filename='fundo.jpg')}}" alt="">
    </div>
    <div class="topo">
        <div class="nome_topo">
                20° SNCT
        </div>
        <div class="imagens">
            <div class="logo">
                <img class="imag-logo" src="{{url_for('static',filename='001.jpeg')}}" alt="">
            </div>
            <div class="nome-topo"> <b> SEMANA NACIONAL DE <br> CIÊNCIA E TECNOLOGIA</b></div>
            {%for i in img%}
            <div class="gradiente">
                <img class="imag-topo" src="{{url_for('static',filename=i)}}" alt="" srcset="">
            </div>
            {%endfor%}

        </div>
        <div class="guias">
            {%for i in rotas%}
            <div class="botao " >
                <a class="guia" href="{{rotas[i][1]}}">
                    <i class="material-icons">{{rotas[i][0]}}</i>
                    {{i}}</a>
            </div>
            {%endfor%}

        </div>
    </div>
    <div class="corpo">
        {{frame | safe}}
    </div>
    <div class="pe">
        <div class="info q01">
            <div class="contato">
                <h2 class="titulorodape">informação</h2> 
            </div>
        </div>

        <div class="info q02"> 
            <hr class="sep">
            <div class="contato">
                <h2 class="titulorodape">Sobre</h2> 
            </div>
        </div>

        <div class="info q03"> 
            <hr class="sep">
            <div class="contato">
                <h2 class="titulorodape">Contato</h2> 
                <a href="https://ufnt.edu.br/">UFNT</a><br>
                Lot. Araguaina Sul, Araguaína - TO, 77826-612 

            </div>
        </div>
    </div>
</body>
</html>